body {
        background-color: #fefefe;
      }

      .btn-info {
        background-color: #dce8ae !important;
        color: #383c2c !important;
        border: #89926a !important;

      }

      .btn-info:hover {
        background-color: #cedf8e !important;
        color: #383c2c !important;
        border: #89926a !important;
      }

      .btn-info:active {
        box-shadow: #dce8ae !important;
      }

      .btn-info:focus {
        box-shadow: 0 0 0 .25rem #dce8ae !important;
      }

      .block-scenario {
        background-color: #fff;
      }

      /*.btn-nav:hover {
        box-shadow: 0 0 0 .05rem #dce8ae !important;
      }

      .btn-nav-ext:hover {
        box-shadow: 0 0 0 .05rem #ffc107 !important;
      }*/

      header {
        background-color: #fff;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }